/* alle */

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    background-color: rgb(40, 40, 40);
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: calc(100% - 150px);
    min-height: 100vh;
    padding-left: 75px;
    padding-right: 75px;
}

.sidebar-right-container {
    position: relative;
    top: 0px;
    background-color: red;
    min-height: 100%;
}

.sidebar-container {
    position: relative;
    top: 0px;
    min-height: 100%;
}

.sidebar {
    background-color: rgb(40, 40, 40);
    width: 150px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-back-arrow {
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
}

.sidebar-logo {
    display: flex;
    padding: 32px;
    height: 100px;
    box-sizing: unset;
}

.sidebar-logo img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.sidebar-mobil {
    display: none;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 32px;
    margin-bottom: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
}

.link:hover {
    border-left: 6px solid white;
    cursor: pointer;
    color: white !important;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.user img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid white;
    margin-bottom: 5px;
}

.headline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: calc(100vw - 150px);
    height: 20vh;
    text-align: center;
}

.headline {
    font-size: 60px;
    color: white;
}


/* alle */


/* Ole */

.bigscreen {
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: calc(100% - 150px);
    min-height: 100vh;
    padding-left: 75px;
    padding-right: 75px;
}

.totalbox {
    margin-top: 10vh;
    text-align: center;
}

.totalbox-header {
    background-color: rgb(40, 40, 40);
    padding: 5px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-style: oblique;
}

.emptyboxes {
    background-color: rgba(211, 211, 211, 0.6);
    min-height: calc(100vh - 10vh - 46px);
    width: 17vw;
    margin-top: 0 !important;
    padding-top: 5px;
}

.todo2 {
    background-color: white;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellow;
    box-shadow: 3px 3px 5px 3px black;
    position: relative;
}

.card-icon-title {
    text-align: start;
    padding-bottom: 25px;
    font-weight: 600;
}

.card-icons-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.card-icons-left {
    display: flex;
}

.card-icon-user {
    background-color: #1E3190;
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 5px;
}

.card-icon-img {
    width: 16px;
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
}

.card-icon-calender-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
}

.card-icon-calender-container p {
    padding-right: 5px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: bold;
}

.card-icon-calender {
    width: 16px;
    object-fit: contain;
    padding-left: 5px;
}

.card-icons-right {
    display: flex;
    align-items: center;
}

.card-icons-right img {
    width: 16px;
    object-fit: contain;
}

.card-icon-edit-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-icons-right img:hover,
.card-icon-edit:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card-icon-edit {
    width: 16px;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .smallscreen {
        display: flex;
        flex-direction: column;
    }
    .totalbox {
        margin-left: 10px;
        margin-right: 10px;
    }
    .emptyboxes {
        width: 54vw;
        height: 40vh;
    }
}


/* DIALOG */

.dialog-container {
    background-color: rgba(0, 0, 0, 0.349);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: #e7f8fd;
    height: 70vh;
    width: 60vw;
    border-radius: 20px;
    position: relative;
}

.dialog-close-img {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.dialog-close-img:hover {
    opacity: 0.6;
}


/* Ole */


/* Fabian */

.cursor {
    cursor: pointer;
}

.reset-margin {
    margin-left: 0 !important;
}

.brush-container {
    position: fixed;
    z-index: 1;
    bottom: 180px;
    left: 75px;
    border: 4px solid lightgray;
    background-color: rgb(40, 40, 40);
    padding: 8px 8px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

.brush-image {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.brush-container:hover {
    opacity: 0.6;
}

.background-images-container {
    position: absolute;
    left: 75px;
    bottom: 250px;
    width: 150px;
    transform: translate(-50%, 0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    border-radius: 12px;
}

.background-images-container img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px 8px;
    border: 1px solid black;
}

.background-images-container img:hover {
    opacity: 0.6;
}

.backlog-container {
    width: calc(100% - 150px);
    min-height: 100vh;
    padding-left: 75px;
    padding-right: 75px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#backlog-task-container {
    margin-top: 20px;
    font-weight: 600;
}

.backlog-task {
    border-radius: 15px;
    background-color: rgb(231, 248, 253);
    line-height: 1.2;
    display: flex;
    height: 100px;
    margin-bottom: 15px;
}

.backlog-subtitle-container {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-bottom: 16px;
    background-color: rgb(40, 40, 40);
    font-style: oblique;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.backlog-subtitle-container p {
    background-color: rgb(40, 40, 40);
    padding: 2px 10px;
    border-radius: 20px;
}

.backlog-15 {
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backlog-10 {
    width: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backlog-20 {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backlog-task-assigned-to {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backlog-task-assigned-to img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 0px;
    border: 2px solid black;
}

.backlog-task-assigned-to div p {
    font-weight: bold;
    color: #1E3190;
}

#backlog-task-details p {
    padding-right: 10px;
}

.urc-high {
    border-left: 10px solid red;
    border-right: 10px solid red;
}

.urc-medium {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
}

.urc-low {
    border-left: 10px solid green;
    border-right: 10px solid green;
}

.backlog-task-container-mobil {
    background-color: transparent;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    font-weight: 600;
}

.backlog-one-task-container-mobil {
    background-color: rgba(211, 211, 211, 0.884);
    border-radius: 10px;
    width: 80%;
    height: 50vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bl-assigned-to-mobil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bl-assigned-to-mobil img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 20px;
}

.bl-assigned-to-mobil p {
    font-size: 20px;
    font-weight: 600;
    color: #1E3190;
}

.bl-title-mobil {
    font-size: 26px;
    font-weight: bold;
}

.bl-category-date,
.bl-icons {
    width: 100%;
    display: flex;
    font-size: 20px;
    text-align: center;
}

.bl-category,
.bl-date,
.bl-delete,
.bl-add-board {
    width: 50%;
}

.bl-category p:first-child,
.bl-date p:first-child,
.bl-description p:first-child,
.bl-delete p:first-child,
.bl-add-board p:first-child {
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 22px;
}

.bl-description {
    width: 100%;
    max-height: 15vh;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}


/* LOGIN */

.login-overcontainer {
    background-image: url(./img/workspace-g198d7dc8d_1280.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.login-header img {
    margin-top: 40px;
    margin-bottom: 30px;
    height: 80px;
}

.login-content {
    margin-bottom: 40px;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-button-container button {
    background-color: #2b72dd;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 120px;
    border: 2px solid lightgray;
    border-radius: 20px;
}

.login-container input {
    width: 150px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 1.5;
    outline: none;
    border: none;
}

.login-container p {
    width: 150px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.login-container button {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login-passwort-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-username {
    width: 176px;
    border: 2px solid lightgray;
}

#login-passwort {
    border: 2px solid lightgray;
}

.passwort-image {
    height: 22px;
    width: 20px;
    object-fit: contain;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    background-color: white;
    border: 2px solid lightgray;
    border-left: 0;
}


/* WELCOME */

.welcome-quicklinks-container {
    width: calc(100vw - 150px);
    height: 80vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.welcome-quicklink {
    height: 50%;
    width: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.welcome-help {
    z-index: 10;
    position: relative;
    right: 0;
    top: -50%;
    transform: translate(0, -50%);
    overflow: hidden;
}

.welcome-help img {
    object-fit: cover;
    height: 40vh;
    width: 30vw;
}

.welcome-help:hover {
    background-color: rgb(40, 40, 40);
}

.welcome-quicklink-image-help:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.welcome-help p {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 2px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.welcome-quicklink img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome-quicklink:hover .welcome-quicklink-image {
    transform: scale(1.1);
    opacity: 0.8;
}

.welcome-quicklink p {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.html-color {
    color: orange;
}

.css-color {
    color: deepskyblue;
}

.javascript-color {
    color: salmon;
}


/* Fabian */


/* Hong Hanh */

.add-task-container {
    margin: 16px 32px auto 32px;
    background-color: #e7f8fdc7;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.add-task-colum {
    margin: 16px;
}

.add-task-headline {
    display: flex;
    flex-direction: column;
    margin: 16px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

.add-task-input {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    font-family: inherit;
}

.add-task-description {
    height: 150px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: inherit;
}

.add-task-select {
    height: 50px;
    border-radius: 4px;
    font-family: inherit;
}

.add-task-assign {
    display: flex;
    flex-direction: column;
    margin: 32px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

.assign-section {
    display: flex;
    align-items: center;
}

.add-task-user-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
}

.add-user-btn {
    background-image: url(img/icon\ plus.png);
    background-size: cover;
    border-radius: 100%;
    border: none;
    margin: 8px;
    width: 32px;
    height: 32px;
}

.add-user-btn:hover {
    cursor: pointer;
}

.cancel-btn {
    width: 120px;
    height: 50px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.cancel-btn:hover {
    background-color: white;
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    cursor: pointer;
}

.add-task-final {
    display: flex;
    justify-content: flex-end;
}

.create-btn {
    width: 120px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.create-btn:hover {
    cursor: pointer;
    color: rgb(40, 40, 40);
    background-color: gray;
    border-radius: 10px;
}

#assignedToUser {
    cursor: pointer;
}

#urgency,
#category {
    cursor: pointer;
}

.add-task-container input,
.add-task-container textarea {
    padding-left: 8px;
    box-shadow: 1px 2px 5px 3px black;
    border: none;
    outline: none;
}

.add-task-container textarea {
    padding-top: 8px;
}

.select-container {
    box-shadow: 1px 2px 5px 3px black;
    border: none;
    background-color: white;
    border-radius: 4px;
}

::-webkit-datetime-edit {
    padding-left: 5px
}

::-webkit-calendar-picker-indicator {
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

select {
    font-weight: bold;
    outline: none;
    width: calc(100% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    outline: none;
    border: none !important;
}

#date {
    outline: none;
    font-weight: bold;
}

.add-task-headline p {
    margin-bottom: 10px;
    font-size: 20px;
}


/* Hong Hanh */


/* HELP */

.help-container {
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: calc(100% - 150px);
    min-height: 100vh;
    padding-left: 75px;
    padding-right: 75px;
}

.help-content-container {
    width: 100%;
}

.help-headline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin-top: 50px;
    height: 60px;
    background-color: rgb(40, 40, 40);
    color: white;
    border-radius: 15px;
    font-size: 20px;
}

.help-headline p {
    padding: 5px 15px;
}

.help-headline p:hover {
    color: white;
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
}

.aktive-help {
    background-color: lightgray;
    color: black;
    border-radius: 20px;
}

.help-choosed-content {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-image {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

#help-choosed-text {
    overflow: auto;
    font-weight: bold;
    width: 80%;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 20px 30px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    color: white;
}


/* HELP */


/* Impressum */


/* Impressum */


/* END */

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        justify-content: flex-start;
    }
    .sidebar {
        z-index: 2;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        display: none;
    }
    .sidebar-container {
        display: none;
        position: sticky;
        z-index: 2;
    }
    .link {
        font-size: 36px;
    }
    .navigation-bar {
        height: auto;
    }
    .sidebar-logo img {
        width: 100px;
        height: 100px;
    }
    .sidebar-logo {
        padding: 0;
    }
    .backlog-container {
        min-height: 90vh;
        width: 100vw;
        padding: 0;
    }
    #backlog-task-container {
        display: none;
    }
    .backlog-task {
        display: none;
    }
    .backlog-subtitle-container {
        display: none;
    }
    .sidebar-mobil {
        height: 10vh;
        width: 100vw;
        background-color: rgb(40, 40, 40);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo-mobil img {
        height: 6vh;
        padding-left: 30px;
    }
    .sidebar-menu-mobil img {
        height: 4vh;
        object-fit: contain;
        padding-right: 30px;
    }
    .sidebar-back-arrow {
        display: block;
    }
    .welcome-quicklinks-container {
        width: 100vw;
        height: 90vh;
        text-align: center;
    }
    .welcome-help img {
        height: 30vh;
        width: 60vw;
    }
    .headline-section {
        display: none;
    }
    .headline,
    .subheading {
        margin-left: 0px;
        margin-top: 0;
    }
    .headline {
        font-size: 32px;
    }
    .login-container {
        width: 70vw;
    }
    .help-container {
        width: auto;
        margin: 0;
        padding: 8px;
    }
    .help-headline {
        height: 10vh;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        font-size: 14px;
        margin-top: auto;
    }
    .help-headline p {
        width: auto;
        padding: 5px 5px;
        text-align: center;
    }
    .help-content-container {
        height: auto;
    }
    .help-choosed-content {
        height: auto;
        margin-top: 8px;
    }
    .help-choosed-content p {
        width: auto;
        font-size: 14px;
        margin-top: 8px;
        padding: 8px;
    }
    .help-image {
        width: 100%;
        height: 50%;
    }
    .brush-container {
        position: fixed;
        display: none;
        z-index: 2;
        top: 30px;
        right: 30px;
        left: auto;
        bottom: auto;
        transform: translate(0, 0);
    }
    .background-images-container {
        z-index: 2;
        width: 100vw;
        left: 0;
        bottom: 0;
        transform: translate(0, 0);
    }
    .background-images-container img {
        width: 100px;
        height: 8vh;
    }
    .backlog-task-container-mobil {
        display: flex;
    }
    .add-task-colum {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .add-task-headline {
        margin-top: 0;
        margin: 8px;
    }
    .add-task-headline p {
        margin-bottom: 0;
        font-size: 16px;
    }
    .add-task-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 8px;
    }
    .add-task-input {
        width: 200px;
        height: 18px;
    }
    .add-task-select {
        width: 200px;
        height: 18px;
    }
    .add-task-description {
        width: 200px;
        height: 60px;
    }
    .add-task-assign {
        margin: 0;
    }
    .add-task-user-image {
        width: 32px;
        height: 32px;
    }
    .cancel-btn {
        width: 70px;
        height: 25px;
    }
    .create-btn {
        height: 25px;
    }
    .add-task-final {
        margin: 8px;
    }
}

.d-none {
    display: none;
}


/* END */