<div class="sidebar-logo">
    <a href="./welcome.html">
        <img src="img/logo.png">
    </a>
</div>

<nav class="navigation-bar">

    <a id="sidebar-link-board" class="link" href="board.html"> Board </a>
    <a id="sidebar-link-backlog" class="link" href="backlog.html"> Backlog</a>
    <a id="sidebar-link-add-task" class="link" href="addTask.html"> Add Task </a>
    <a id="sidebar-link-archive" class="link" href="archive.html"> Archiv</a>
    <a id="sidebar-link-help" class="link" href="help.html"> Help </a>
    <a id="sidebar-link-index" class="link" href="index.html">Logout</a>

</nav>

<div class="user">
    <img id="sidebar-user-image" src="">
    <p id="sidebar-user-name"></p>
</div>
<img onclick="close_sidebar_mobil()" class="sidebar-back-arrow" src="./img/arrow-80-48.png">